<div class="container">
    <div class="card text-black bg primary mb-3">
        <div class="col-md-12 mt-5">
            <div class="card-header">
                <b>StudentForm With Dual Binding</b>
            </div>
            <div class="card-body">
                <form class="border border-light p-5" (ngSubmit)="SaveUser()">
                    <div class="form-group">
                        <label for="id"><b>Id</b></label>
                        <input type="text" class="form-control mb-4" id="id" required [(ngModel)]="model.id" name="id">
                    </div>
                    <div class="form-group">
                        <label for="name"><b>Name</b></label>
                        <input type="text" class="form-control mb-4" id="name" required [(ngModel)]="model.name"
                            name="name">
                    </div>
                    <div class="form-group">
                        <label for="surname"><b>Surname</b></label>
                        <input type="text" class="form-control mb-4" id="surname" required [(ngModel)]="model.surname"
                            name="surname">
                    </div>
                    <div class="form-group">
                        <label for="dni"><b>Dni</b></label>
                        <input type="text" class="form-control mb-4" id="dni" required [(ngModel)]="model.dni"
                            name="dni">
                    </div>

                    <div class="panel-footer">
                        <div class="col text-center">
                            <button type="submit" class="btn-primary">Save</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>